<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-2.2.2.min.js"
        integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"></link>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/css/bootstrap-slider.min.css" rel="stylesheet"
      type="text/css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/bootstrap-slider.min.js"></script>

<link rel="stylesheet" href="basicmap.css"></link>

<!--Stuff for map-->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="/heatmap.min.js"></script>
<script src="/leaflet-heatmap.js"></script>

<!--Stuff for wordmap-->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="d3.layout.cloud.js"></script>

<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" href="#">
            RIFT
        </a>
    </div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a href="#" id="nbAcctDD" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>Username<i
                        class="icon-sort-down"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper" class="col-md-3">
        <div id="sidebar">
            <div id="favorites">
                <h4 class="list-group-item"> Favorites
                    <i style="color:red" class="pull-right glyphicon glyphicon-heart-empty"></i>
                </h4>
            </div>

            <div id="trends">
	            <h5 class="list-group-item">Trending:
	                <span class="label label-default">Inactive</span>
	                <span class="label label-success">Active</span>
	            </h5>
                <h5 class="list-group-item"><button class="btn btn-sm pull-right" id="search">Search</button>
                </h5>
			   
	           <h5 class="list-group-item">Choose a trend:
        	    </h5>
        	    <div id="trendslist" class="list-group-item"> Displaying trends here: 
        	    	<div class="col-xs-10">
        	    	<select id="dropdown" th:field="*{alltrends}" class="col-xs-10">
    				<option value="NONE">---- Select ----</option>
    					<option th:each="trend : *{alltrends}"
            					th:value="${trend.value}"
            					th::text="${trend.value}">
           				</option>
					</select>
					</div>
				</div>
					<div id ="timespanMessage" class="list-group-item" > Timespan when trend is active:
        	    	<select id="timespan">
					  <option>Choose a day (default - all days))</option>
					</select>
					</div>
        	    </div>

            <!--<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/> -->
        </div>
    </div>
    <div id="main-wrapper" class="col-md-9 pull-right">
        <ul class="nav nav-tabs">
            <li id="main-tab" role="presentation" class="active"><a href="#">Sentiment Map</a></li>
            <li id="wordmap-tab" role="presentation" class="hidden"><a href="#">Word Map</a></li>
            <button id="generate-wordmap" class="pull-right btn btn-sm">Generate Wordmap</button>
        </ul>
        <div id="main">
            <div class="page-header">
                <div id="map"></div>
            </div>
            <div class="timespan-trend">
            	<div id="timespan"></div>
            </div>
        </div>
        <div id="wordmap" class="hidden">

        </div>
    </div>
</div>

<script src="basicmap.js"></script>
</html>
